.clientForm{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    background-color: transparent;
}

.address{
    grid-area: 1/1/1/1;

}


.input{
    padding: 10px;
    border-radius: 5px;
    border: solid 2px black;
    margin: 5px;
    width: min-content;
}

.calcData{
    grid-area: 1/2/1/2;

}

.inputCalc{

    padding: 5px;
    border-radius: 5px;
    border: solid 2px black;
    margin: 2px;
    width: 50px;

}

p{
    margin-bottom: 5px;
}

.description{
    font-size: 12px;
    margin-left: 10px;
}

.calcPair{
    margin-bottom: 10px;
}