.clientForm{
    display: grid;
    grid-template-columns: 20px repeat(2, 1fr) 20px;
    background-color: transparent;
    margin: 10px;
    justify-items: center;


}

.address{
    grid-area: 1/2/1/2;

}


.input{
    padding: 10px;
    border-radius: 5px;
    border: solid 2px black;
    margin: 5px;
    width: min-content;
}

.calcData{
    grid-area: 1/3/1/3;
}

.clientBody{
    display: block;
    min-width: 1000px;
    max-width: 1400px;
    height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    justify-self: start;
    margin: 10px;
}

.head{
    margin-top: 5px;
    margin-bottom: 10px;
}
.parentClientTable{
    display: grid;
    grid-template-columns: 5rem repeat(2, minmax(10rem, 18rem)) minmax(8rem, 12rem) repeat(3, 7rem);
    grid-column-gap: 4px;
    grid-row-gap: 2px;
    justify-items: start;
   align-items: center;
    top:0;
    position: sticky;
}




.inputCalc{
    padding: 5px;
    border-radius: 5px;
    border: solid 2px black;
    margin: 2px;
}

.add{
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 4rem minmax(12rem, 25rem);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.calcPair1{

}

.neg{
    margin-top: 20px;
    vertical-align: middle
}

.check{
    transform: scale(1.5);
    margin-left: 5px;
}

.f1{
    grid-area: 1/1/1/1;
}

.f2{
    grid-area: 1/2/1/2;
}

.f3{
    grid-area: 2/1/2/1;
}

.f4{
    grid-area: 2/2/2/2;
}
p{
    margin-bottom: 3px;
}
.small{
    width: 3rem;
}

.description{
    font-size: 12px;
    margin-left: 10px;
    align-self: center;
}

