
p{
    padding: 2px;
    font-size: 12px;
}

h4{
    margin-bottom: 5px;
}

li{
    margin: 3px;
}
.parent {
    display: grid;
    grid-template-columns: 4rem minmax(8rem, 15rem) minmax(12rem, 20rem) 6rem 7rem 7rem minmax(7rem, 12rem) repeat(3, minmax(8rem, 15rem));
    grid-column-gap: 4px;
    grid-row-gap: 2px;
    justify-items: start;
    justify-self: start;
    margin-bottom:5px;

}

.datatable {
    display: grid;
    grid-template-columns: 4rem minmax(8rem, 15rem) minmax(12rem, 20rem) 6rem 7rem 7rem minmax(7rem, 12rem) repeat(3, minmax(8rem, 15rem));
    grid-column-gap: 4px;
    grid-row-gap: 2px;
    justify-items: start;
    justify-self: start;

}


.tableBody{
    display: block;
    height: 500px;
    width: auto;
    overflow-y: auto;
    overflow-x: auto;
    justify-self: start;

}

.clientBody{
    display: block;
    min-width: 1000px;
    max-width: 1400px;
    height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    justify-self: start;
    border: solid black 2px;
    margin: 10px;
}

.head{
    margin-top: 5px;
    margin-bottom: 10px;
}
.parentClientTable{
    display: grid;
    grid-template-columns: 4rem repeat(2, minmax(10rem, 18rem)) minmax(8rem, 12rem) repeat(3, 7rem);
    grid-column-gap: 4px;
    grid-row-gap: 2px;
    justify-items: start;


}

.error{
    color:red;
    text-align: center;
    margin: 10px;
}

.success{
    color: #FFFAAF;
    text-align: center;
    font-weight: bold;
    margin: 15px;
}



.buttonFrame{
    background-color:#64C8B9;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #64C8B9;
    margin: 2px;
    font-size: 10px;
    cursor: pointer;
}

.big{
    font-size: 12px;
    margin: 5px;
    padding: 5px;

    text-align: center;

}

input[type="file"] {
    display: none;
}

.main{
    margin: 20px;

}

.welcome{
    margin-top:30px;
    text-align: center;
    margin-bottom: 80px;
}

.ui{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    font-size: 12px;
    text-align: center;
}

.ui1{
    grid-area: 1/1/1/1;
}

.ui2{
    grid-area: 1/2/1/2;
}
.ui3{
    grid-area: 1/3/1/3;
}
.table{
    border: solid black 2px;
    margin: 10px;

}

.companyName{
    grid-area:1/1/1/1;
}

.companyStreet{
    grid-area:1/2/1/2;
}

.companyLocation{
    grid-area:1/3/1/3;

}

.firstColumn{
    grid-area:1/1/1/1;
    position: sticky;
}

.secondColumn{
    grid-area:1/2/1/2;
}

.thirdColumn{
    grid-area:1/3/1/3;
    justify-self: start;
}
.fourthColumn{
    grid-area:1/4/1/4;
}

.fiveColumn{
    grid-area:1/5/1/5;
}

.sixColumn{
    grid-area:1/6/1/6;
}
.sevenColumn{
    grid-area:1/7/1/7;
}

.eigthColumn{
    grid-area:1/8/1/8;
}
.nineColumn{
    grid-area:1/9/1/9;
}
.tenColumn{
    grid-area:1/10/1/10;
}
.elevenColumn{
    grid-area:1/11/1/11;
}
.twelveColumn{
    grid-area:1/12/1/12;
}